#header {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    font-family: Roboto;
}

#logo {
    padding: 0px 12px 0px 12px;
    font-size: 20px;
}

.content-container {
    padding-top: 30px;
}

.right-header a{
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 12px;
    color: #252323;
    font-size: smaller;
}

.right-header{
    float:right;
}

#light-toggle{
    background: #fff;
    border: solid 2px #252323;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#dark-toggle{
    background: #252323;
    border: solid 2px #252323;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.nav-bar {
    display: inline-flex;
    border: solid 1px #6e6a6a;
    padding: 5px;
    border-radius: 30px;
    width: 100%;
}

.search-font {
    width: 40%;
}

.custom-text {
    border: 1px black;
    border-left: solid 1px black;
    width: 40%;
    padding-left: 10px;
}

#light-toggle, #dark-toggle, #layout-icon{
    cursor: pointer;
}

input {
    border: none;
}

.font-card-container{
    display:flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    flex: 0 0 calc(25% - 10px);
    border-top: 1px solid;
       
}

.font-card{
    font-size: 20px;
    
}

.add-button{
    float: right;
    
}

.footer{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
    border-top: 1px solid #d9d9d9;
    text-align: center;
    padding: 20px;
}